.layout-style
{ width: 100%;
  margin: 0 auto;
}


mat-form-field  {
  margin-right:6px
}

.mat-create {
  background-color:#27AE60;

  color: #ffff;
}
.mat-update {

  background-color:#E67E22;
  color: #ffff;
}

.mat-search {
  background-color:#3498DB;
  color: #ffff;
}
.mat-delete {
  background-color:#E74C3C;
  color: #ffff;
}
